@font-face {
  font-family: 'iCielGotham-Medium';
  src: url('iCielGotham-Medium.eot');
  src: url('iCielGotham-Medium.woff2') format('woff2'),
       url('iCielGotham-Medium.woff') format('woff'),
       url('iCielGotham-Medium.ttf') format('truetype'),
       url('iCielGotham-Medium.svg#iCielGotham-Medium') format('svg'),
       url('iCielGotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

